.item {  vertical-align: top; align: left; width: 100%; }
.header {  background-color: #333333;height: 100%; vertical-align: top; align: left;  padding: 0pt; width: 100%; }
.content {   height: 100%; vertical-align: top; align: left; border-top: solid 1pt #6dae42; padding: 0pt; width: 100%; }
.icon {    background-color: #000000; border-width: 1pt; height: 100%; vertical-align: top; align: left; padding: 0pt; }
.delete {  width: 10pt; height: 10pt; vertical-align: top; align: left; }
.red	{ color: red; }
.alert { color: red; font-weight: bold; }
a { color: #6dae42; font-size: 8pt; font-family: Verdana, "Arial CE", "Helvetica CE", Arial, Helvetica; text-decoration: none; background-color: black; margin: 0pt; }



body      { color: #6dae42; font-size: 8pt; font-family: Verdana, "Arial CE", "Helvetica CE", Arial, Helvetica; text-decoration: none; background-color: black; margin: 0pt; scrollbar-face-color: #8E967F;
                                        scrollbar-shadow-color: #C6CDB3;
                                        scrollbar-highlight-color: #C6CDB3;
                                        scrollbar-3dlight-color: #656B5A;
                                        scrollbar-darkshadow-color: #656B5A;
                                        scrollbar-track-color: #727866;
                                        scrollbar-arrow-color: #727866;}

font.tiraz { color: #6dae42; font-size: 7pt; font-family: Verdana }
select { background-color: black; text-align:center; color: #6dae42; }
option { background-color: black; text-align: center; color: #6dae42; }
td { color: #6dae42; font-size: 9pt; font-family: Monaco,Verdana, "Arial CE", "Helvetica CE", Arial, Helvetica; text-decoration: none }
.border      { padding: 2pt; border: solid 1pt #687c68 }
.noborder       { color: rgb(218,218,185); border: dotted 1pt }
.menu   { color: white; font-weight: bold; font-size: 8pt; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; background-color: #687c68 }
.white   { color: white; font-size: 8pt; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; background-color: rgb(87,117,94) }
.pulldown    { color: black; font-size: 8pt; font-family: Verdana, Arial, Helvetica; background-color: rgb(218,218,185) }

th { color: #6dae42; font-size: 9pt; font-family: Monaco,Verdana, "Arial CE", "Helvetica CE", Arial, Helvetica; text-decoration: none }
input { width: 80px; color: white; font-size: 8pt; font-family: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; background-color: black; vertical-align: middle; margin: 1px 1px 6px; border: solid 1px #6dae42; height: 18px }
input.longtext { width: 230px; color: white; font-size: 8pt; font-family: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; background-color: black; vertical-align: middle; margin: 1px 1px 6px; border: solid 1px #6dae42; height: 18px }
input.checkbox { width: 15px; height: 15px; }
input.file { width: 210px; color: white; border-color: #6dae42; background-color: black }
input.noborder { width: 80px; border-color: black ; background-color: black  }
.long { width: 230prx; }
td.title { align: center; font-width: bold; }
input.form { font-size: 7pt; font-family: Tahoma, Verdana, Arial; color: #FFFFFF;
         background-color: #000000; font-weight: bold; border: 1px solid #6dae42 }
textarea     { width: 350 pt; background-color: black; color: white; font-size: 8pt; font-family: Verdana, Arial, Helvetica;  border: solid 1pt #6dae42 }
textarea.personal     { width: 150 pt; background-color: black; color: white; font-size: 8pt; font-family: Verdana, Arial, Helvetica;  border: solid 1pt #6dae42 }
img { border: 0pt; }
table.bottom { border-right: solid 1pt #6dae42; border-bottom: solid 1pt #6dae42; padding: 0pt }
table.menubox { border-left: solid 1pt #6dae42; border-bottom: solid 1pt #6dae42; padding: 0pt }
table.userbox { border-bottom: solid 1pt #6dae42;border-top: solid 1pt #6dae42; padding: 0pt }
table.box { border: solid 1pt #6dae42; padding: 0pt }
table.submission { border-top: solid 1pt #6dae42; padding: 0pt; width: 100%; }
table.boxwithout { border-right: solid 1pt #6dae42; padding: 0pt }
table.redbox { border: solid 0pt red; padding: 0pt }
pre { color: #6dae42; font-size: 9pt; font-family: Monaco,Verdana, "Arial CE", "Helvetica CE", Arial, Helvetica; text-decoration: none }
p { text-indent: 70 pt; }
.textinput { width: 48px; color: white; font-size: 8pt; font-family: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; background-color: black; vertical-align: middle; margin: 1px 1px 6px; border: solid 1px #6dae42; height: 18px }
.smalltextinput { width: 23px; color: white; font-size: 8pt; font-family: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; background-color: black; vertical-align: middle; margin: 1px 1px 6px; border: solid 1px #6dae42; height: 18px }
.bigtextinput { width: 100px; color: white; font-size: 8pt; font-family: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular; background-color: black; vertical-align: middle; margin: 1px 1px 6px; border: solid 1px #6dae42; height: 18px }
.active_users .active_user_img {
	width: 50px;
	float: left;
}

.active_lusers .active_user_img {
	width: 200px;
	float: left;
}

.active_users .active_user_name {
	text-align: center;
}

#listaleft {
        position: absolute;
	left: 50px;
        top: 1px;
	width: 800px;
	background: black;
}

#listaright {
        position: absolute;
        top: 1px;
        left: 423px;
        height: 30px;
        width: 100%;
}

#loginbox {
	position: absolute;
        top: 0px;
        left: 670px;
        height: 30px;
        width: 100%;
}

#ad {
	position: absolute;
        top: 50px;
	left: 180px;
        height: 130px;
        width: 100%;
}
